html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 6vw 8vw 8vw 15vw;
}

.nav {
    position: fixed;
    width: 12vw;
    height: 75vh;
    transition: 0.5s;
    border-right: 1px solid lightgrey;
    z-index: 3;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: scroll;
}

.nav::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: lightslategray;
} */

.nav:hover {
    width: 225px;
    background-color: #fff;
}

.nav__ul {
    /* width: 8vw; */
    margin: 10px 0;
    /* visibility: hidden; */
}

.nav ul li {
    /* width: 100%; */
    list-style: none;
    /* margin: 14px 14px 14px 0; */
    margin: 0.7vw 0.7vw 0.7vw 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subList {
    margin-left: -25px;
}

.demoLink:hover {
    font-weight: bold;
}

.demoLink {
    color: #000;
}

.demo a {
    text-decoration: none;
}

.displayNav {
    visibility: visible;
}

.hamburger {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0vw;
    margin-top: -50px;
    width: 20px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    cursor: pointer;
    display: none;
}

.bar {
    width: 20px;
    margin: 5px 0;
    height: 1px;
    background-color: #333;
}

hr {
    width: 75px;
    border-top: 1px solid lightgrey;
    margin: 2.5vw auto;
}

section {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
}

iframe {
    /* border: 1px solid lightslategray; */
    border: none;
    /* width: 50%; */
}

ul li {
    list-style-type: circle;
    width: 100%;
    margin: 0.7vw 0.7vw 0.7vw 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jsfiddle-iframes {
    position: relative;
    /* display: flex;
    justify-content: center; */
}

iframe,
.gist-container {
    width: 100%;
    height: 40px;
    align-self: center;
    margin: 20px 0 40px 0;
    transition: all 1s;
    border-radius: 5px;
}

.gist-container {
    overflow-y: scroll;
}

p,
h1,
h2,
h3,
h4 {
    text-align: left;
    margin: 0 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-size: 1.75rem;
}

p {
    font-size: 1.25rem;
}

.source {
    font-size: 1rem;
}

.readme-container ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.05rem;
    margin-top: 0;
}

.resources-list {
    margin-top: 0;
    font-size: 1.05rem;
}

/* .models__island, */
.island__files {
    display: flex;
    justify-content: space-between;
}

.island__file1,
.island__file2 {
    flex: 0.5;
    width: 28vw;
}

.island__file1 {
    margin-right: 3px;
}

.island__file2 {
    margin-left: 3px;
}

.iframe-small {
    height: 5vw;
}

.iframe-big {
    height: 80vh;
    width: 100%;
}

.loadButton,
.clearButton {
    border: 1px solid #333;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    border-radius: 0.8vw;
    border-radius: 15px;
    padding: 5px 18px;
    /* padding: 0.25vw 0.85vw; */
    font-size: max(0.8vw, 12px);
    margin: 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loadButton:hover,
.clearButton:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.loadButton:active,
.clearButton:active {
    transform: scale(0.98);
}

.loadButton,
.clearButton {
    text-decoration: none;
    color: #333;
}

.loadAndClear {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loadButton--jsfiddle,
.clearButton--jsfiddle {
    cursor: pointer;
    border: 1px solid #333;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    border-radius: 0.8vw;
    border-radius: 15px;
    padding: 5px 18px;
    /* padding: 0.25vw 0.85vw; */
    font-size: max(0.8vw, 12px);
    margin: 0 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loadButton--jsfiddle:hover,
.clearButton--jsfiddle:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.loadButton--jsfiddle:active,
.clearButton--jsfiddle:active {
    transform: scale(0.98);
}

.loading-script--jsfiddle {
    display: none;
    width: 100%;
    height: 2vw;
    transition: all 1s;
}

.loading-script--jsfiddle iframe {
    height: 80vh;
    transition: all 1s;
}

.script--jsfiddle iframe {
    /* height: 80vh; */
    transition: all 1s;
}

.loading-script--jsfiddle,
.loading-iframe--jsfiddle,
.script--jsfiddle {
    transition: all 1s;
}

.display {
    display: inline-block;
    height: 80vh;
    width: 100%;
}

.hide {
    display: none;
    height: 2vw;
}

.mathSin {
    position: relative;
}

.sinCos {
    background-color: whitesmoke;
    position: absolute;
    display: none;
    width: 25vw;
    z-index: 1;
    top: -16vw;
    left: 0vw;
    transition: all .5s;
}

.nav-subtitle {
    padding-top: 15px;
}

.footer {
    margin-bottom: -5vw;
}

.footer p {
    text-align: right;
    margin: 0;
    font-size: 1rem;
}

.date {
    text-align: right;
    font-size: 1rem;
}

@media (max-width:1000px) {
    .content {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .nav__ul {
        display: none;
        padding-top: 25px;
    }

    .hamburger {
        display: inline-block;
    }


    .hamburger:hover>.bar {
        width: 19px;
    }

    .nav:hover>.nav__ul {
        display: inline-block;
    }

    .nav ul li {
        margin: 10px 10px 10px 0;
    }

    .island__files {
        flex-direction: column;
    }

    .island__file1,
    .island__file2 {
        flex: 1;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}